/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2017, 6:29:42 PM
    Author     : 00140291
*/
ul li{
    list-style-type: none;
    display: inline;
    font-size: 24px;
    background: #70E70D;
    padding: 20px;
    border-radius: 15px;
}
#cabecera{
    text-align: center;
    font-family:Jorkerman;
    color:#000000;
}
#menu{
    text-align: center;
}
#cuerpo{
    text-align: center;
    font-family: Mistral;
    font-size: 24px;
}
img{
    border-radius: 15px;
}
#pie{
    text-align: center;
    background: #70E70D;
    color:white;
    
}

form{
    width:800px;
    margin:0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2em  
}

#formulario h1{
    text-align: center;
}
label{
    display:inline-block;
    width:200px;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
}
input,textarea{
    width: 400px;
    font: 1em cursive;
    border: 1px solid royalblue;
}
input:focus,textarea:focus{
    border-color: green;
}
textarea{
    vertical-align: middle;
}
.boton{
    padding-left: 100px;
  
}
button{
    font-size: 1em;
    font-weight: bold;
}
a{
  color:#000000;
  text-decoration: none;
}
a:hover{
     font-size: 26px;
     color: black;
}
